# Курсовая по курсу Data Science

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# input
DATASET_PATH = 'course_project_train.csv'
DATASET_TEST_PATH = 'course_project_test.csv'

# output
#PREP_DATASET_PATH = '../training_project_data_prep.csv'

In [4]:
df = pd.read_csv(DATASET_PATH)
df_test = pd.read_csv(DATASET_TEST_PATH)

In [5]:
df.head()

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0

In [6]:
df_test.head()

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score
0,Rent,NaN,4 years,0.0,9.0,12.5,220968.0,0.0,70.0,0.0,debt consolidation,Short Term,162470.0,105906.0,6813.0,NaN
1,Rent,231838.0,1 year,0.0,6.0,32.7,55946.0,0.0,8.0,0.0,educational expenses,Short Term,78298.0,46037.0,2318.0,699.0
2,Home Mortgage,1152540.0,3 years,0.0,10.0,13.7,204600.0,0.0,NaN,0.0,debt consolidation,Short Term,200178.0,146490.0,18729.0,7260.0
3,Home Mortgage,1220313.0,10+ years,0.0,16.0,17.0,456302.0,0.0,70.0,0.0,debt consolidation,Short Term,217382.0,213199.0,27559.0,739.0
4,Home Mortgage,2340952.0,6 years,0.0,11.0,23.6,1207272.0,0.0,NaN,0.0,debt consolidation,Long Term,777634.0,425391.0,42605.0,706.0

Пойдем методично по-порядку, по каждой колонке, и будем смотреть что там внутри в обоих выборках. А потом уже посмотрим ещё раз в целом на всё это

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 17 columns):
Home Ownership                  7500 non-null object
Annual Income                   5943 non-null float64
Years in current job            7129 non-null object
Tax Liens                       7500 non-null float64
Number of Open Accounts         7500 non-null float64
Years of Credit History         7500 non-null float64
Maximum Open Credit             7500 non-null float64
Number of Credit Problems       7500 non-null float64
Months since last delinquent    3419 non-null float64
Bankruptcies                    7486 non-null float64
Purpose                         7500 non-null object
Term                            7500 non-null object
Current Loan Amount             7500 non-null float64
Current Credit Balance          7500 non-null float64
Monthly Debt                    7500 non-null float64
Credit Score                    5943 non-null float64
Credit Default                  7500 non-null int64
dtypes: float64(12), int64(1), object(4)
memory usage: 996.2+ KB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
Home Ownership                  2500 non-null object
Annual Income                   1987 non-null float64
Years in current job            2414 non-null object
Tax Liens                       2500 non-null float64
Number of Open Accounts         2500 non-null float64
Years of Credit History         2500 non-null float64
Maximum Open Credit             2500 non-null float64
Number of Credit Problems       2500 non-null float64
Months since last delinquent    1142 non-null float64
Bankruptcies                    2497 non-null float64
Purpose                         2500 non-null object
Term                            2500 non-null object
Current Loan Amount             2500 non-null float64
Current Credit Balance          2500 non-null float64
Monthly Debt                    2500 non-null float64
Credit Score                    1987 non-null float64
dtypes: float64(12), object(4)
memory usage: 312.6+ KB

Предсказывать будем значение <b>Credit Default</b>

Все строки с типом объект приведем к типу строка

In [9]:
for colname in df.select_dtypes(include=['object']).columns:
    #print(colname)
    df[colname] = df[colname].astype(str)
    #сразу сделаем и для второго набора
    df_test[colname] = df_test[colname].astype(str)

У меня что-то не особо тип изменился, но в уроке у нас тоже самое. Из прошлых уроков не очень пока помню в чем проблема. Пока оставил.

### Обзор данных<a class="anchor" id="review"></a>

1. Смотрим Home Ownership

In [10]:
df['Home Ownership'].value_counts()

Home Mortgage    3637
Rent             3204
Own Home          647
Have Mortgage      12
Name: Home Ownership, dtype: int64

In [11]:
df_test['Home Ownership'].value_counts()

Home Mortgage    1225
Rent             1020
Own Home          248
Have Mortgage       7
Name: Home Ownership, dtype: int64

По количеству всё хорошо, но вот только смущает что "Have Mortgage" и "Home Mortgage". И то и другое про ипотеку, потому - прировняем 'Home Mortgage' к "Have Mortgage". Делать будем через функцию.

In [12]:
def my_prepare_dataset(df, col):
    if (col == 'Home Ownership'):
        df.loc[df[col] == 'Have Mortgage', col] = 'Home Mortgage'

In [13]:
my_prepare_dataset(df,'Home Ownership')
my_prepare_dataset(df_test,'Home Ownership')
df_test['Home Ownership'].value_counts()

Home Mortgage    1232
Rent             1020
Own Home          248
Name: Home Ownership, dtype: int64

### 2. Смотрим "Annual Income"
Тут просто убираем пропуски NaN, пока не делал. пропустил. Кроме того, там есть достачтоно много пропусков

In [14]:
(len(df['Annual Income']) - df['Annual Income'].count())/len(df)*100

20.76

In [15]:
(len(df_test['Annual Income']) - df_test['Annual Income'].count())/len(df_test)*100

20.52

20 процентов пропусков причем в обоих выборках. Кондидат на исключение вообще из прогноизоования. Особенно так как много разных значечения и разброс достаточно большой

In [16]:
#y_pos = np.arange(len(df['Annual Income']))
#plt.plot(y_pos, df['Annual Income'])

### 3. Смотрим "Years in current job"

In [17]:
df['Years in current job'].value_counts()

10+ years    2332
2 years       705
3 years       620
< 1 year      563
5 years       516
1 year        504
4 years       469
6 years       426
7 years       396
nan           371
8 years       339
9 years       259
Name: Years in current job, dtype: int64

In [18]:
df_test['Years in current job'].value_counts()

10+ years    810
3 years      228
2 years      212
< 1 year     207
5 years      169
1 year       153
4 years      152
7 years      140
6 years      137
8 years      107
9 years       99
nan           86
Name: Years in current job, dtype: int64

Будем менять на моду, все nan пока не сделал

### 4. Смотрим "Tax Liens"

In [19]:
df['Tax Liens'].value_counts()

0.0    7366
1.0      83
2.0      30
3.0      10
4.0       6
5.0       2
6.0       2
7.0       1
Name: Tax Liens, dtype: int64

In [20]:
df_test['Tax Liens'].value_counts()

0.0     2445
1.0       45
2.0        5
15.0       1
3.0        1
6.0        1
4.0        1
5.0        1
Name: Tax Liens, dtype: int64

Вот как раз пример не сбалансированных данных. Есть идея превратить его несколько значений. Типа всех с 0 - в одну, а остльыне в другую группу. Может быть с промежуточным значением. Пока не делал.

### 5. Смотрим "Number of Open Accounts"

In [21]:
df['Number of Open Accounts'].value_counts()

9.0     728
11.0    692
10.0    677
8.0     638
7.0     613
12.0    562
6.0     504
13.0    465
14.0    420
5.0     325
15.0    313
16.0    265
17.0    232
4.0     212
18.0    143
19.0    139
3.0      95
20.0     93
21.0     78
23.0     59
24.0     50
22.0     49
25.0     32
2.0      28
28.0     14
27.0     14
26.0     12
30.0     11
29.0     10
32.0      6
33.0      6
31.0      6
34.0      2
37.0      2
43.0      1
35.0      1
41.0      1
38.0      1
42.0      1
Name: Number of Open Accounts, dtype: int64

In [22]:
df_test['Number of Open Accounts'].value_counts()

9.0     245
8.0     223
10.0    218
11.0    211
12.0    204
6.0     183
13.0    178
7.0     176
14.0    159
5.0     106
15.0     97
16.0     81
17.0     66
4.0      63
18.0     52
19.0     46
20.0     37
21.0     29
3.0      29
22.0     26
23.0     17
27.0     10
24.0      9
2.0       7
30.0      6
25.0      6
26.0      5
28.0      3
33.0      2
48.0      1
31.0      1
1.0       1
36.0      1
29.0      1
34.0      1
Name: Number of Open Accounts, dtype: int64

Думаю что можно все оставить как есть. Может выбросы убрать потом.

### 6. Смотрим "Years of Credit History"

In [23]:
df['Years of Credit History'].value_counts()

15.0    104
16.0     99
16.5     91
17.0     86
17.5     83
       ...
43.2      1
4.9       1
39.5      1
42.4      1
39.8      1
Name: Years of Credit History, Length: 408, dtype: int64

In [24]:
df_test['Years of Credit History'].value_counts()

16.5    35
14.0    33
16.0    32
17.0    30
17.5    28
        ..
38.0     1
53.4     1
42.0     1
6.8      1
5.6      1
Name: Years of Credit History, Length: 345, dtype: int64

Пока тоже вроде всё ок

### 8. Смотрим "Maximum Open Credit"

In [25]:
df['Maximum Open Credit'].value_counts()

0.0          65
319110.0      5
334796.0      3
607046.0      3
294030.0      3
             ..
534600.0      1
1026124.0     1
77066.0       1
780164.0      1
350768.0      1
Name: Maximum Open Credit, Length: 6963, dtype: int64

In [26]:
df_test['Maximum Open Credit'].value_counts()

0.0         14
252340.0     2
427064.0     2
286088.0     2
401522.0     2
            ..
785466.0     1
232100.0     1
382030.0     1
308550.0     1
247808.0     1
Name: Maximum Open Credit, Length: 2435, dtype: int64

С пропусками ок. Возникла мысль, взять не это поле как есть, а как отношение этого поля к доходу. Возможно оно будет интересннесе, для прогнозирования, возможно с ранжированием. Чтобы перейти от абсолютных значений и невелировать небольшие расхождения в суммах.
Строю такие предположения, так как считаю что такие показатели +/- 100 в реальной жизни не влияют на показатель, а скорее могу давать не правильный прогноз

### 8. Смотрим "Number of Credit Problems"

In [27]:
df['Number of Credit Problems'].value_counts()

0.0    6469
1.0     882
2.0      93
3.0      35
4.0       9
5.0       7
6.0       4
7.0       1
Name: Number of Credit Problems, dtype: int64

In [28]:
df_test['Number of Credit Problems'].value_counts()

0.0     2177
1.0      280
2.0       29
3.0        7
5.0        4
15.0       1
4.0        1
7.0        1
Name: Number of Credit Problems, dtype: int64

Пока предпологаю оставить как есть. Но вообще хочется конечно тоже немного свести к более категорийным. Но время покажет :)

### 9. Смотрим "Months since last delinquent"

In [29]:
df['Months since last delinquent'].value_counts()

14.0     76
29.0     71
8.0      68
33.0     68
13.0     65
         ..
86.0      1
92.0      1
118.0     1
84.0      1
91.0      1
Name: Months since last delinquent, Length: 89, dtype: int64

In [30]:
df_test['Months since last delinquent'].value_counts()

16.0    30
23.0    28
14.0    28
24.0    26
13.0    25
        ..
60.0     5
81.0     5
64.0     5
65.0     5
82.0     3
Name: Months since last delinquent, Length: 83, dtype: int64

In [31]:
(len(df['Months since last delinquent']) - df['Months since last delinquent'].count())/len(df)*100

54.413333333333334

In [32]:
(len(df_test['Months since last delinquent']) - df_test['Months since last delinquent'].count())/len(df_test)*100

54.32

Да вот оно странное поле. С одной стороны оно должно быть показательным. С другой стороны у нас есть 50 процентов пропусков. Мы не знаем почему - так. В нормальной ситуации можно предположить,что отсутсвие этих данных - это наверное хорошо. Так как мы рассматриваем именно месечный платеж, а не допустим банкротсов и не возврат кредита. Исключать наверное нельзя, так как если 60 раз до этого была просрочка то с высокой вероятностью кажется что и в этот раз будет

Потому, наверное, заполним нулями все пустые.

### 10. Смотрим "Bankruptcies"

In [33]:
df['Bankruptcies'].value_counts()

0.0    6660
1.0     786
2.0      31
3.0       7
4.0       2
Name: Bankruptcies, dtype: int64

In [34]:
df_test['Bankruptcies'].value_counts()

0.0    2252
1.0     234
2.0       5
3.0       3
5.0       2
4.0       1
Name: Bankruptcies, dtype: int64

In [35]:
(len(df['Bankruptcies']) - df['Bankruptcies'].count())/len(df)*100

0.18666666666666668

In [36]:
(len(df_test['Bankruptcies']) - df_test['Bankruptcies'].count())/len(df_test)*100

0.12

Пропусков мало, потому будем заменять их нулевыми значениями. Мне конечно хочется очень тоже заменять его на булево. Но будет видно после первой модели.

### 11. Смотрим "Purpose"

In [37]:
df['Purpose'].value_counts()

debt consolidation      5944
other                    665
home improvements        412
business loan            129
buy a car                 96
medical bills             71
major purchase            40
take a trip               37
buy house                 34
small business            26
wedding                   15
moving                    11
educational expenses      10
vacation                   8
renewable energy           2
Name: Purpose, dtype: int64

In [38]:
df_test['Purpose'].value_counts()

debt consolidation      1973
other                    240
home improvements        140
buy a car                 34
business loan             30
medical bills             27
buy house                 19
take a trip               14
major purchase             9
small business             5
vacation                   3
educational expenses       3
wedding                    2
moving                     1
Name: Purpose, dtype: int64

Пропусков нет - уже хорошо. Это поле точно нужно превращать в что-то более просто. Всё что не в TOP преврщать в other, но дальше модель покажет.

### 11. Смотрим "Term"

In [39]:
df['Term'].value_counts()

Short Term    5556
Long Term     1944
Name: Term, dtype: int64

In [40]:
df_test['Term'].value_counts()

Short Term    1861
Long Term      639
Name: Term, dtype: int64

Всё красиво, пропусков нет. Идеально заменится одной переменной со значением 0/1

### 12. Смотрим "Current Loan Amount"

In [41]:
df['Current Loan Amount'].value_counts()

99999999.0    870
89298.0         6
218064.0        6
216106.0        5
270226.0        5
             ...
490006.0        1
404756.0        1
194414.0        1
420376.0        1
33792.0         1
Name: Current Loan Amount, Length: 5386, dtype: int64

In [43]:
df_test['Current Loan Amount'].value_counts()

99999999.0    297
110462.0        3
396506.0        3
327404.0        3
258676.0        3
             ...
543290.0        1
105578.0        1
43054.0         1
162448.0        1
450560.0        1
Name: Current Loan Amount, Length: 2026, dtype: int64

Конечно смущает больше кол-во значений с 999... в реале будто при выгрузке попало в переменную меньшей длинны, и потому обрезалось. Видимо так и оставляем, так как нам с этим ничего не сделать

### 13. Смотрим "Current Credit Balance"

In [46]:
df['Current Credit Balance'].value_counts()

0.0         53
191710.0     5
53580.0      4
106818.0     4
155059.0     4
            ..
229672.0     1
349467.0     1
116223.0     1
797240.0     1
189905.0     1
Name: Current Credit Balance, Length: 6592, dtype: int64

In [45]:
df_test['Current Credit Balance'].value_counts()

0.0         11
169917.0     4
109440.0     3
93936.0      3
153064.0     3
            ..
858743.0     1
482619.0     1
633460.0     1
129371.0     1
120289.0     1
Name: Current Credit Balance, Length: 2385, dtype: int64

Немного смущают 0, хотя их и не много. Так как если он ноль, то и кредита значит нет, и строчек тут этих быть не должно. Потому посмотрю уже предметно на сами записи эти. Возможно что просто буду их игнорировать все строки с нулевым остатком.

### 14. Смотрим "Monthly Debt"

In [49]:
df['Monthly Debt'].value_counts()

0.0        6
19222.0    4
19667.0    4
9525.0     3
22364.0    3
          ..
12897.0    1
27541.0    1
23227.0    1
55957.0    1
17.0       1
Name: Monthly Debt, Length: 6716, dtype: int64

In [50]:
df_test['Monthly Debt'].value_counts()

24146.0    3
10112.0    2
8780.0     2
29521.0    2
13766.0    2
          ..
6904.0     1
4164.0     1
19872.0    1
26499.0    1
11392.0    1
Name: Monthly Debt, Length: 2416, dtype: int64

Тоже немного смущают нули, посмотрю прям по строчкам. Возможно это теже строки где нули в общем теле кредита. И тогда точно их уберу

### 15. Смотрим "Credit Score"

In [53]:
df['Credit Score'].value_counts()

740.0     169
747.0     168
748.0     157
745.0     152
741.0     151
         ...
602.0       1
616.0       1
585.0       1
620.0       1
7010.0      1
Name: Credit Score, Length: 268, dtype: int64

In [54]:
df_test['Credit Score'].value_counts()

746.0     56
739.0     55
741.0     54
740.0     50
745.0     49
          ..
613.0      1
616.0      1
6880.0     1
6890.0     1
6670.0     1
Name: Credit Score, Length: 211, dtype: int64

In [55]:
(len(df['Credit Score']) - df['Credit Score'].count())/len(df)*100

20.76

In [56]:
(len(df_test['Credit Score']) - df_test['Credit Score'].count())/len(df_test)*100

20.52

Нет в описании этого поля. Кредитный рейтинг это судя по всему. У меня лично нет к нему доверия (и тут в этом дата сете в том числе) так как методики нет. Наверное буду пробовать строить модель и учетом этого рейтинга и без него, чтобы сравнить. Возможно добавлю ещё поле бинарное. Есть рейтинг 0/1 и посмотрю что будет

### 16. Смотрим "Credit Default". Сосбвтенно наша целевая переменная

In [59]:
df['Credit Default'].value_counts()

0    5387
1    2113
Name: Credit Default, dtype: int64

На всякий случай посмотрел что нет значений других кроме 0 и 1 :)